
body{
    text-align: center;
   
    font-family: 'Cabin', sans-serif;
   
    word-spacing: 2px;

}

.content{
    background-color: #f0f0f0;
    max-width: 300px;
   
    border-radius: 10px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}

.skip{
    color: #505555;
    position: relative;
    left: 30%;
    padding: 20px;
    font-size:12px ;
    font-weight: bold;
    cursor: pointer;
}


h2{
    color: #4ebbb7;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px;
}
img{
    width: 140px;
    padding: 30px;
    
}


.writing{
    color: #747676;
    padding: 20px;
    font-size: 12px;
    word-spacing: 2px;
}

}
.ent{
    line-height: 1.5em;
    
}
.proceed{
    
    font-size: 12px;
    cursor: pointer;
    margin: 60px;
    letter-spacing: 1px;
    padding: 1px;
    background-color: #4ebbb7;
    color: #ffffff;
    
}
